## .gitignore for club-league

vendor/
node_modules/
npm-debug.log
bootstrap/compiled.php
app/storage/
bootstrap/compiled.php
app/storage/
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json
producer
.idea/
repository/
.rocketeer/
.gitignore.skeleton
skeleton.sh
composer.lock