
{% extends 'base.twig' %}

{% block body %}

    {% include 'navbar.twig' %}

    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container">
                <p class="title">
                    Elenco società
                </p>
                <p class="subtitle">
                    La lista è aggiornata ogni anno
                </p>
            </div>
        </div>
    </section>

    {% for club in clubs %}
        <div>{{ club.name }}</div>
    {% endfor %}

{% endblock %}
